* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* -------------------- GENERAL STYLING --------------------  */

body {
    height: 100vh;
    background-image: url(/img/MacBook\ Pro\ -\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-right: 2rem;
}

header {
    position: absolute;
    margin-left: 0 auto;
    align-self: flex-end;
}

header h1 {
    color: white;
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

header h3 {
    color: #FFD029;
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 10px;
    text-align: end;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

#search-input {
    border: 2px solid #428ED4;
    border-radius: 5px;
    height: 30px;
    margin-left: 21.5rem;
    background-color: #0c164d44;
    padding: 10px;
    color: white;
}

#error-message {
    font-family: 'Secular One', sans-serif;
    color: #ffd129d3;
    margin-left: 20rem;
    margin-block-start: 1rem;
    margin-block-end: 0;
}

.planets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 20px;
}

/* -------------------- PLANETS STYLING --------------------  */

.Solen-element {
    width: 1278px;
    height: 1278px;
    border: 8px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #FFD029;
    box-shadow: #ffd129ab 0px 0px 250px;
    transition: all .3s ease-in-out;
    margin-left: -72rem;
}

.Solen-element:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: #ffd129ab 0px 0px 500px;
}

.Merkurius-element {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #888888;
    box-shadow: inset -4px 0px 1px #7c7c7c;
    transition: all .3s ease-in-out;
}

.Merkurius-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 10px, inset -4px 0px 1px #7c7c7c;
    transform: scale(2);
}

.Venus-element {
    width: 26px;
    height: 26px;
    border: 1px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #E7CDCD;
    box-shadow: inset -6px 0px 1px #c6aeae;
    transition: all .3s ease-in-out;
}

.Venus-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 30px, inset -6px 0px 1px #c6aeae;
    transform: scale(2);
}

.Jorden-element {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #428ED4;
    box-shadow: inset -8px 0px 1px #3a7fc0;
    transition: all .3s ease-in-out;
}

.Jorden-element:hover {
    cursor: pointer;
    background-image: url(/img/Frame\ 8.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 30px, inset -8px 0px 1px #3a7fc0;
    transform: scale(3);
}

.Mars-element {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #EF5F5F;
    box-shadow: inset -5px 0px 1px #db5555;
    transition: all .3s ease-in-out;
}

.Mars-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 10px, inset -5px 0px 1px #db5555;
    transform: scale(2);
}

.Jupiter-element {
    width: 180px;
    height: 180px;
    border: 2px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #E29468;
    box-shadow: inset -40px 0px 1px #ce865d;
    transition: all .3s ease-in-out;
}

.Jupiter-element:hover {
    cursor: pointer;
    background-image: url(/img/Frame\ 7.png);
    background-size: 40%;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 50px, inset -40px 0px 1px #ce865d;
    transform: scale(1.5);
}

.Saturnus-element {
    width: 140px;
    height: 140px;
    border: 2px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #C7AA72;
    box-shadow: inset -28px 0px 1px #bca16c;
    transition: all .3s ease-in-out;
}

.Saturnus-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 50px, inset -28px 0px 1px #bca16c;
    transform: scale(1.5);
}

.Uranus-element {
    width: 66px;
    height: 66px;
    border: 2px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #C9D4F1;
    box-shadow: inset -18px 0px 1px #bfcae7;
    transition: all .3s ease-in-out;
}

.Uranus-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 50px, inset -18px 0px 1px #bfcae7;
    transform: scale(1.8);
}

.Neptunus-element {
    width: 66px;
    height: 66px;
    border: 2px solid rgba(255, 255, 255, 0.375);
    border-radius: 50%;
    background-color: #7A91A7;
    box-shadow: inset -19px 0px 1px #6f8499;
    transition: all .3s ease-in-out;
}

.Neptunus-element:hover {
    cursor: pointer;
    box-shadow: rgba(155, 202, 248, 0.525) 0px 0px 50px, inset -19px 0px 1px #6f8499;
    transform: scale(1.7);
}

/* -------------------- OVERLAY STYLING --------------------  */

.close-overlay {
    font-family: 'Secular One', sans-serif;
    background-color: transparent;
    appearance: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: .6rem 2rem;
    margin-left: 70%;
    margin-bottom: 4em;
    margin-top: 1rem;
    transition: all .3s ease-in-out;
}

.close-overlay:hover {
    background-color: white;
    color: #0C164D;
    transform: scale(1.1);
    cursor: pointer;
}

.planets-info__overlay {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/img/MacBook\ Pro\ -\ 2.png);
    opacity: 93%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    overflow-y: scroll;
    animation: slide .5s
}

.planet-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.planet-info__name-desc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        ". . name . . ."
        ". . latin . . ."
        ". . desc desc . ."
        ". . desc desc btn .";
}

.chosen-planet__name {
    color: white;
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    grid-area: name;
}

.chosen-planet__latin {
    color: #FFD029;
    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    grid-area: latin;
}

.chosen-planet__desc {
    font-family: 'Secular One', sans-serif;
    line-height: 24px;
    grid-area: desc;
}

.chosen-planet__desc {
    --max-lines: 4;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    overflow: hidden;
    position: relative;
}

.chosen-planet__desc:has(+ .expand-desc__btn:not(:checked))::before {
    content: '';
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, linear-gradient(to right, #0C164D, #190B22))
}

.expand-desc__btn {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    appearance: none;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .6rem 2rem;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 12em;
    margin-bottom: 4em;
    color: white;
    grid-area: btn;
    transition: all .3s ease-in-out;
}

.expand-desc__btn:hover {
    background-color: white;
    color: #0C164D;
    transform: scale(1.1);
    cursor: pointer;
}

.expand-desc__btn::before {
    content: 'SE MER';
}

.expand-desc__btn:checked::before {
    content: 'SE MINDRE';
}

.chosen-planet__desc:has(+ .expand-desc__btn:checked) {
    max-height: none;
}

.break-line {
    margin: 2rem 0 2rem 0;
    height: 1px;
    width: 590px;
    background-color: rgba(255, 255, 255, 0.417);
}

.planet-info__temp-dist {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Secular One', sans-serif;
    font-size: larger;
    letter-spacing: 5px;
}

.planet-info__temp-dist p {
    font-weight: lighter;
}

.planet-info__moons {
    font-family: 'Secular One', sans-serif;
    letter-spacing: 5px;
    max-width: 30em;
}

.planet-info__moons p {
    --max-lines: 4;
    --line-height: 1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    overflow: hidden;
    position: relative;
}

.planet-info__moons p:has(+ .expand-moons__btn:not(:checked))::before {
    content: '';
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, linear-gradient(to right, #0C164D, #190B22))
}

.expand-moons__btn {
    appearance: none;
    border: 1px solid #fff;
    border-radius: .25em;
    padding: .5em;
    cursor: pointer;
    margin-top: 1em;
    color: white;
    transition: all .3s ease-in-out;
}

.expand-moons__btn:hover {
    background-color: white;
    color: #0C164D;
    transform: scale(1.1);
    cursor: pointer;
}

.expand-moons__btn::before {
    content: 'SE FLER';
}

.expand-moons__btn:checked::before {
    content: 'SE MINDRE';
}

.planet-info__moons p:has(+ .expand-moons__btn:checked) {
    max-height: none;
}

.change-planet__btn {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 100px;
    grid-template-areas:
        ". . . p n . . .";
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#previous_btn {
    grid-area: p;
}

#next_btn {
    grid-area: n;
}

#previous_btn,
#next_btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: .5rem 2rem .5rem 2rem;
    transition: all .3s ease-in-out;
}

#previous_btn:hover {
    background-color: white;
    color: #0C164D;
    transform: scale(1.1);
    cursor: pointer;
}

#next_btn:hover {
    background-color: white;
    color: #0C164D;
    transform: scale(1.1);
    cursor: pointer;
}

#alien {
    height: 110px;
    width: 200px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    animation: 10s infinite alien;
}

/* -------------------- KEYFRAMES --------------------  */

@keyframes alien {
    0% {
        transform: translate(110vw, 20vh)
    }

    50% {
        transform: translate(50vw, 44vh);
    }

    100% {
        transform: translate(-110vw, 50vh)
    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}